@model IEnumerable<MyGameStoreModel.Entities.RecommendedGameProducts>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	ViewData["Title"] = "Index";
}
<div class="container mt-5">
	<h1>Index</h1>

	<p>
		<a asp-action="Create">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					имя эксперта
				</th>
				<th>
					фамилия эксперта
				</th>
				<th>
					название игры
				</th>
				<th>
					описание игры
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.ExpertName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ExpertSurname)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.GameProduct.Title)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.GameProduct.Description)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}

		</tbody>
	</table>
</div>

