@using MyGameStoreModel.Entities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model GameProduct
<div class="container py-5">
	<div class="row">
		<div class="col-lg-6">
			<div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<video src="@Model.Videos[0].Url" class="d-block w-100" controls></video>
					</div>

					@for (int i = 1; i < Model.Videos.Count; i++)
					{
						<div class="carousel-item">
							<video src="@Model.Videos[i].Url" class="d-block w-100" controls></video>
						</div>
					}

					@foreach (var image in Model.ImageUrls)
					{
						<div class="carousel-item">
							<img src="@image.Url" class="d-block w-100" alt="@Model.Title" />
						</div>
					}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#productCarousel"
						data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#productCarousel"
						data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<div class="col-lg-6">
			<h2 class="fw-bold">@Model.Title</h2>
			@foreach (var item in Model.Genre)
			{
				<p class="text-muted">@item.Title</p>
			}
			<h3 class="my-4">@Model.Price</h3>
			<p class="mb-4">
				@Model.Description
			</p>
			<div class="mb-4">
				<a asp-controller="Game" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-success" type="button">Добавить в корзину</a>
			</div>
			<div>
				<a asp-controller="Game" asp-action="AddWishList" asp-route-id="@Model.Id" class="btn btn-primary" type="button">
					Добавить в список желаемого
				</a>

			</div>
		</div>
		<h5>Системные требования</h5>

		<!-- Таблица минимальных требований -->
		<h6>Минимальные требования</h6>
		<table class="table">
			<tbody>
				<tr>
					<th scope="row">ОС</th>
					<td>@Model.MinimumSystemRequirements.OS</td>
				</tr>
				<tr>
					<th scope="row">Процессор</th>
					<td>@Model.MinimumSystemRequirements.Processor</td>
				</tr>
				<tr>
					<th scope="row">Память</th>
					<td>@Model.MinimumSystemRequirements.Memory</td>
				</tr>
				<tr>
					<th scope="row">Графика</th>
					<td>@Model.MinimumSystemRequirements.Graphics</td>
				</tr>
				<tr>
					<th scope="row">DirectX</th>
					<td>@Model.MinimumSystemRequirements.DirectX</td>
				</tr>
				<tr>
					<th scope="row">Место на диске</th>
					<td>@Model.MinimumSystemRequirements.Storage</td>
				</tr>
				@if (Model.MinimumSystemRequirements.SoundCard != null)
				{
					<tr>
						<th scope="row">Звуковая карта</th>
						<td>@Model.MinimumSystemRequirements.SoundCard</td>
					</tr>
				}
				@if (Model.MinimumSystemRequirements.Network != null)
				{
					<tr>
						<th scope="row">Сеть</th>
						<td>@Model.MinimumSystemRequirements.Network</td>
					</tr>
				}
			</tbody>
		</table>

		<!-- Таблица рекомендуемых требований -->
		<h6>Рекомендуемые требования</h6>
		<table class="table">
			<tbody>
				<tr>
					<th scope="row">ОС</th>
					<td>@Model.RecommendedSystemRequirements.OS</td>
				</tr>
				<tr>
					<th scope="row">Процессор</th>
					<td>@Model.RecommendedSystemRequirements.Processor</td>
				</tr>
				<tr>
					<th scope="row">Память</th>
					<td>@Model.RecommendedSystemRequirements.Memory</td>
				</tr>
				<tr>
					<th scope="row">Графика</th>
					<td>@Model.RecommendedSystemRequirements.Graphics</td>
				</tr>
				<tr>
					<th scope="row">DirectX</th>
					<td>@Model.RecommendedSystemRequirements.DirectX</td>
				</tr>
				<tr>
					<th scope="row">Место на диске</th>
					<td>@Model.RecommendedSystemRequirements.Storage</td>
				</tr>
				@if (Model.RecommendedSystemRequirements.SoundCard != null)
				{
					<tr>
						<th scope="row">Звуковая карта</th>
						<td>@Model.RecommendedSystemRequirements.SoundCard</td>
					</tr>
				}
				@if (Model.RecommendedSystemRequirements.Network != null)
				{
					<tr>
						<th scope="row">Сеть</th>
						<td>@Model.RecommendedSystemRequirements.Network</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

</div>