@using MyGameStore.ViewModel
@using MyGameStoreModel.Entities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WishGameProductVM
<div class="container py-5">
	<div class="row">
		<div class="col-lg-6">
			<div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					@if (Model.gameProduct.Videos.Count > 0)
					{
						<div class="carousel-item active">
							<video src="@Model.gameProduct.Videos[0].Url" class="d-block w-100" controls></video>
						</div>
					}
					else if (Model.gameProduct.ImageUrls.Count > 0)
					{
						<div class="carousel-item active">
							<img src="@Model.gameProduct.ImageUrls[0].Url" class="d-block w-100" alt="@Model.gameProduct.Title"></img>
						</div>
					}
					@if (Model.gameProduct.Videos.Count > 0 && Model.gameProduct.ImageUrls.Count > 0)
					{
						@for (int i = 1; i < Model.gameProduct.Videos.Count; i++)
						{
							<div class="carousel-item">
								<video src="@Model.gameProduct.Videos[i].Url" class="d-block w-100" controls></video>
							</div>
						}
						@for (int i = 1; i < Model.gameProduct.ImageUrls.Count; i++)
						{
							<div class="carousel-item">
								<img src="@Model.gameProduct.ImageUrls[i].Url" class="d-block w-100" alt="@Model.gameProduct.Title"></img>
							</div>
						}
					}
					else if (Model.gameProduct.Videos.Count == 0 && Model.gameProduct.ImageUrls.Count > 0)
					{
						@for (int i = 1; i < Model.gameProduct.ImageUrls.Count; i++)
						{
							<div class="carousel-item">
								<img src="@Model.gameProduct.ImageUrls[i].Url" class="d-block w-100" alt="@Model.gameProduct.Title"></img>
							</div>
						}
					}
					else if (Model.gameProduct.Videos.Count > 0 && Model.gameProduct.ImageUrls.Count == 0)
					{
						@for (int i = 1; i < Model.gameProduct.Videos.Count; i++)
						{
							<div class="carousel-item">
								<video src="@Model.gameProduct.Videos[i].Url" class="d-block w-100" controls></video>
							</div>
						}
					}
					else
					{
						<div class="corousel-item active">
							<img src="C:\Users\Никита\source\repos\MyGameStore\Views\6073071648.jpg"class="d-block w-100"alt="нет контента"/>
						</div>
					}					
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#productCarousel"
						data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#productCarousel"
						data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<div class="col-lg-6">
			<h2 class="fw-bold">@Model.gameProduct.Title</h2>
			<h5>Категории</h5>			
				<ul>
				@foreach (var genre in Model.gameProduct.Genre)
				{
					<li>@genre.Title</li>
				}
				</ul>		

			<h3 class="my-4">@Model.gameProduct.Price</h3>
			<p class="mb-4">
				@Model.gameProduct.Description
			</p>
			<div class="d-flex gap-3 mb-4">
				@if (!Model.ContainsGameProducts)
				{
					<a asp-controller="Game" asp-action="Add" asp-route-id="@Model.gameProduct.Id" class="btn btn-success" type="button">Добавить в корзину</a>
				}
				else
				{
					<a class="btn btn-secondary">игра уже куплена</a>
				}
			</div>

			@if (!Model.ContainsWishGameProducts)
			{
				<div>
					<a asp-controller="Game" asp-action="AddWishList" asp-route-id="@Model.gameProduct.Id" class="btn btn-primary" type="button">
						Добавить в список желаемого
					</a>
				</div>
			}
			else
			{
				<div>
					<a asp-controller="Game" asp-action="DeleteWishList" asp-route-id="@Model.gameProduct.Id" class="btn btn-danger" type="button">
						удолить из списка желаемого
					</a>
				</div>
			}
		</div>
		<h5>Системные требования</h5>

		<!-- Таблица минимальных требований -->
		<h6>Минимальные требования</h6>
		<table class="table">
			<tbody>
				<tr>
					<th scope="row">ОС</th>
					<td>@Model.gameProduct.MinimumSystemRequirements.OS</td>
				</tr>
				<tr>
					<th scope="row">Процессор</th>
					<td>@Model.gameProduct.MinimumSystemRequirements.Processor</td>
				</tr>
				<tr>
					<th scope="row">Память</th>
					<td>@Model.gameProduct.MinimumSystemRequirements.Memory</td>
				</tr>
				<tr>
					<th scope="row">Графика</th>
					<td>@Model.gameProduct.MinimumSystemRequirements.Graphics</td>
				</tr>
				<tr>
					<th scope="row">DirectX</th>
					<td>@Model.gameProduct.MinimumSystemRequirements.DirectX</td>
				</tr>
				<tr>
					<th scope="row">Место на диске</th>
					<td>@Model.gameProduct.MinimumSystemRequirements.Storage</td>
				</tr>
				@if (Model.gameProduct.MinimumSystemRequirements.SoundCard != null)
				{
					<tr>
						<th scope="row">Звуковая карта</th>
						<td>@Model.gameProduct.MinimumSystemRequirements.SoundCard</td>
					</tr>
				}
				@if (Model.gameProduct.MinimumSystemRequirements.Network != null)
				{
					<tr>
						<th scope="row">Сеть</th>
						<td>@Model.gameProduct.MinimumSystemRequirements.Network</td>
					</tr>
				}
			</tbody>
		</table>

		<!-- Таблица рекомендуемых требований -->
		<h6>Рекомендуемые требования</h6>
		<table class="table">
			<tbody>
				<tr>
					<th scope="row">ОС</th>
					<td>@Model.gameProduct.RecommendedSystemRequirements.OS</td>
				</tr>
				<tr>
					<th scope="row">Процессор</th>
					<td>@Model.gameProduct.RecommendedSystemRequirements.Processor</td>
				</tr>
				<tr>
					<th scope="row">Память</th>
					<td>@Model.gameProduct.RecommendedSystemRequirements.Memory</td>
				</tr>
				<tr>
					<th scope="row">Графика</th>
					<td>@Model.gameProduct.RecommendedSystemRequirements.Graphics</td>
				</tr>
				<tr>
					<th scope="row">DirectX</th>
					<td>@Model.gameProduct.RecommendedSystemRequirements.DirectX</td>
				</tr>
				<tr>
					<th scope="row">Место на диске</th>
					<td>@Model.gameProduct.RecommendedSystemRequirements.Storage</td>
				</tr>
				@if (Model.gameProduct.RecommendedSystemRequirements.SoundCard != null)
				{
					<tr>
						<th scope="row">Звуковая карта</th>
						<td>@Model.gameProduct.RecommendedSystemRequirements.SoundCard</td>
					</tr>
				}
				@if (Model.gameProduct.RecommendedSystemRequirements.Network != null)
				{
					<tr>
						<th scope="row">Сеть</th>
						<td>@Model.gameProduct.RecommendedSystemRequirements.Network</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

</div>